body {
    margin: 0;
    font-family: 'Releway';
    font-size: 14px;
    color: #6c7279;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100px;

}

.fixed {
    position: fixed;

    background-color: #31344e;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}


/* nav */


.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .2s linear; 
}

.header-link:first-child {
    margin-left: 0;
}

.header-link:hover {
    opacity: 1;
    text-decoration: underline;
}


/* intro */

.intro {
    height: 750px;
    background: url(img/Layer_34.png) center no-repeat;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-size: cover;
}

.intro-inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;

    text-align: center;
}

.intro-title {
    margin: 0 0 30px 0;

    color: #ffffff;
    font-family: "Open Sans";
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 71px;
}
  

.intro-subtitle {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 60px;
}

/* btn */

.btn {
    display: inline-block;
    vertical-align: top;
    background-color: #e84545;

    color: #fff;
    text-transform: uppercase;
    padding: 18px 50px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    font-weight: inherit;

    transition: background .1s linear;
}

.btn:hover {
    background-color: #dd3434;
}



/* feutures */

.feutures {
    display: flex;
    margin: 100px 0;
    flex-wrap: wrap;
}

.feutures-item {
    width: 33.3%;
    text-align: center;
    padding: 0 30px;
    margin: 25px 0;
}

.feutures-icon {
    margin-bottom: 20px;
}

.feutures-title {
    color: #2d3033;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.feutures-text {
    color: #6c7279;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}


/* works */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works-item {
    height: 350px;

    width: 25%;
    position: relative;
    overflow: hidden;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works-item:hover .works-content {
    opacity: 1;
}

.works-img {
    min-width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.works-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: rgba(232, 69, 69, 0.9);

    transition: opacity .2s linear;

    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works-title {
    margin-bottom: 5px;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.works-text {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
}


/* team */

.team {
    margin: 100px 0 70px 0;
}

.team-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.team-item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team-name {
    color: #2d3033;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}

.team-prof {
    color: #e84545;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team-text {
    color: #6c7279;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 15px;
}


/* social */

.social {
    display: flex;
}

.social-item {
    width: 40px;
    height: 40px;
    margin-right: 4px;
}


/* revievs */


.revievs {
    background-color: #53354a;
    overflow: hidden;
}

.revievs-item {
    display: flex;
    flex-wrap: wrap;
}

.revievs-img {
    width: 50%;
    height: 500px;
    position: relative;
}

.revievs-photo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    /* transform: translateY(-50%);  */
}




.revievs-content {
    width: 50%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.revievs-text {
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
}

.revievs-autor {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}


/* download */

.download {
    margin: 90px 0;
    text-align: center;
}

.download-title {
    color: #2d3033;
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 300;
    line-height: 21px;

    margin-bottom: 16px;
}

.download-subtitle {
    color: #2d3033;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;

    margin-bottom: 40px;
}

.btn-download {
    background-color: #e84545;

    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 83px;
    border-radius: 5px;
}


.btn-download:hover {
    background-color: #dd3434;
}

/* footer */


.footer {
    
    background-color: #3a3e64;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;

    padding: 70px 0;
}

.footer-block {
    width: 33.33333%;

    text-align: center;
}

.footer-title {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-address {
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;

    margin-top: 20px;
}

.footer-item {
    margin-top: 20px;
}


.footer-text {
    opacity: 0.5;
    color: #fff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    margin-top: 20px;
}


.footer-copyrite {
    background-color: #313454;
    padding: 20px 0;
}

.copyrite-text {
    color: #808080;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


/* burger */

.burger {
    display: none;

    background: none;
    border: 0;
    cursor: pointer;
    padding: 15px 0;
}

.burger-item {
    display: block;
    width: 30px;
    height: 3px;
    

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger-item:before,
.burger-item:after {
    content: '';
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;
}

.burger-item:before {
    top: -8px;
}

.burger-item:after {
    bottom: -8px;
}


/* media */

@media (max-width: 1300px) {

    /* works */
    .works-item {
        width: 50%;
    }

}







@media (max-width: 991px) {

    /* nav */
    .menu {
        display: none;
        flex-direction: column;
        
        background-color: #31344e;
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        text-align: right;
    }

    .menu.show {
        display: flex;
    }

    .header-link {
        padding: 9px 15px;
    }

    /* burger */
    .burger {
        display: block;
    }

    /* intro */
    .intro-title {
        font-size: 40px;
    }

    /* feuters */
    .feutures-item {
        width: 50%;
    }

    /* team */
    .team-item {
        width: 50%;
        text-align: center;
    }

    .team-img {
        margin-left: auto;
        margin-right: auto;
    }

    .social {
        justify-content: center;
    }

        /* revievs */

    .revievs-img {
            width: 100%;
            margin-bottom: 15px;
        }

    .revievs-content {
        width: 100%;
        padding-left: 0;
    }

    .revievs-photo {
        min-width: 100%;
        right: -15px;
    }



}





    /* 767 */

@media (max-width: 767px) {

    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro-title {
        font-size: 30px;
    }

    .intro-subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    /* feuters */
    .feutures {
        margin: 40px 0;
    }

    .feutures-item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    /* works */
    .works-item {
        width: 100%;
        height: 300px;
    }

    .team-item {
        width: 100%;
    }

    .team {
        margin: 60px 0 30px;
    }

    .revievs-text {
        font-size: 25px;
    }

    .download-title {
        font-size: 25px;
        line-height: 35px;
    }

    .btn-download {
        min-height: 260px;
    }

    .download {
        margin: 50px 0;
    }

    .footer-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-block:last-child {
        margin-bottom: 0;
    }


    @media (max-width: 414px) {
        .revievs-photo {
            padding-left: 0;
            padding-right: 0;
            right: -70px;
        }
    }